body {
    background-color: black;
    background-image: url("images/batVsSup.png"), url("images/rain2.gif");
    background-size: 100%;
    color: lightgray;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #88171E;
    opacity: 0.8;
    height: 80px;
    border-radius: 40em;
}

h1{
    transform: translate(0, -20%);

}

h6{
    transform: translate(0, -60%);
}
img {
    height: 40vh;
    position: absolute;
    bottom: 0;
}

#batman {
    float: left;
}
#superman{
    float: right;
    right: 0;
}

header button {
    float: right;
    position: absolute;
    right: 5%;
    top: 15%;
}

#main {
    /*background-color: darkgrey;*/
    /*height: 600px;*/
    height: 80%;
    /*border: 1px solid red;*/
}

#game_area {
    /*border: 1px solid green;*/
    /*height: 600px;*/
    margin-top: 2%;
    height: 80vh;
    left: 12.5%;
    /*background-color: yellow;*/
}

#game_area > div {
    height: 100%;
}

#inner_box {
    background-color: pink;
}

h2{
    color: lightgray;
}
#stats_area {
    margin-top: 2%;
    color: lightgray;
    font-size: 10vh;
    text-align: center;
    width: 10%;
    float: right;
    height: 80vh;
    /*background-color: #88171E;*/
    /*opacity: 0.7;*/
    border-radius: 2%;
}

.button_container {
    height: 100%;
}

.square_row {
    height: 33.333%;
}

.square_row button {
    height: 100%;
}

.square {
    font-size: 72px;
    color: black;
    text-transform: capitalize;
}

.col-xs-9 {
    padding-right: 14px;
    padding-left: 14px;
}

/*5X5 board*/

.square_row_five {
    height: 20%;
}

.square_row_five button {
    height: 100%;
}

.col-xs-2 {
    width: 20%;
}

/*Modal Style*/

#charSelectModal {
    background-color: #88171E;
    color: black;
}

.modal-body {
    background-color: black;
    color: black;
}

.modal-title{
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.modal-footer .board_size{
    width: 40%;
    height: 100%;
    padding: 4%;
    font-size: 2em;
    background-color: #88171E;
    border: none;
}

.bat_player {
    height: 50vh;
    background: url("http://vignette2.wikia.nocookie.net/deathbattle/images/4/40/Batman_MKvsDCU.png/revision/latest?cb=20140803005308") no-repeat center/contain;
    background-color: #000;
    outline: none;
    border: none;
}

.bat_player:active {
    background-color: darkred;
}

.super_player {
    height: 50vh;
    background: url("http://vignette2.wikia.nocookie.net/deathbattlefanon/images/c/c2/Superman_MKvsDCU.png/revision/latest?cb=20140723205744") no-repeat center/contain;
    background-color: #000;
    outline: hidden;
    outline: none;
    border: none;
}